@import url("https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic:wght@400;500;600;700&family=Noto+Serif+Bengali:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.maateen.me/charu-chandan-3d/font.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "bangla";
  src: url("./assets/fonts/bangla2.ttf");
}

.arabic {
  font-family: "Noto Naskh Arabic", serif;
}

.bangla {
  font-family: "Noto Serif Bengali", serif;
}
.bangla3d {
  font-family: "CharuChandan3D", sans-serif;
}
